<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="admin/include/layout_blank">
<body>
<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            用户管理
            <small>advanced tables</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <ul>
                <li th:each="user:${users}">
                    <span th:text="${user.id}"></span>-
                    <span th:text="${user.name}"></span>-
                    <span th:text="${user.age}"></span>-
                    <span th:text="${user.loginName}"></span>
                </li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>